canvas {
    width: 200px;
    height: 100px;
    margin: 10px;
    border: 1px black solid;
}

.orangeback {
    background-color: orange;
}

.blueback {
    background-color: blue;
}

.greenback {
    background-color: aquamarine;
}