h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blueback {
    background-color: royalblue;
}

.greenback {
    background-color: teal;
}

.yellowback {
    background-color: goldenrod;
}

.orangeback {
    background-color: orangered;
}